 @font-face {
        font-family: aller;
        src: url(fontes/Aller_rg.ttf);
}
@font-face {
    font-family: aller-lt;
    src: url(fontes/Aller_Lt.ttf);
}

@font-face {
    font-family: aller-Ltlt;
    src: url(fontes/Aller_LtIt.ttf);
}

*{
    box-sizing: border-box;
}

div.nome {
    display?: block;
    float: left;
    width: 60%;

}

div.contato {
    display:block;
    float: right;
    padding-top: 0px;
    margin: 0px;
    width: 30%;
}

ul {
    display: block;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

header {
    padding-top: 1em;
    padding-left: 1em;
    background-color: red;
}

#perfil {
    width: 99%;
}

body {
    font-family: aller;
    color:#6f6f6e;
    padding-left: 1cm;
    padding-right: 1cm;
}

h1 { 
    font-size: 40pt;
    margin-bottom: 0em;
    padding-bottom: 0.3em;
}



h3 {
    font-family: aller-lt;
    font-size: 12pt;
    margin-bottom: 3em;
    margin-top: 0em;
    padding-top: 0em;
}

h5 {
    font-family: aller-Ltlt;
    padding-top: 1em;
}

h4 {
    padding-bottom: 1em;
    margin-bottom: 2em;
}

hr::after { 
    content: "";
    display: inline;
    position: absolute;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 8px;
    height: 8px;
    justify-content: right;
}

p { 
    padding-bottom: 2em;
}

hr {
    border: 0;
    border-top: 1px solid #6f6f6e
}

.linha {
    display: flex;
    flex-flow: row wrap;
}

.direita {
    width: 50%;
}

.esquerda {
    width: 50%;
}

section.esquerda { 
    width: 50%;
    float: left;
    height: 100%;
    padding-right: 2em;
}

.habilidade {
    padding-bottom: 2em;
}

section.direita {
    border-left: 1px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
    padding-left: 2em;
   }

