 @font-face {
        font-family: aller;
        src: url(fontes/Aller_rg.ttf);
}
@font-face {
    font-family: aller-lt;
    src: url(fontes/Aller_Lt.ttf);
}

body {
    font-family: aller;
    color:#6f6f6e;
    padding-left: 1cm;
    padding-right: 1cm;
}

h1 { 
    font-size: 40pt;
    padding-bottom: 0%;
}

h3 {
    font-family: aller-lt;
    font-size: 12pt;
    padding-top: -30%;
}

header {
    padding-top: 1em;
    padding-left: 1em;
}

hr {
    border: 0;
    border-top: 1px solid #6f6f6e
}

.linha {
    display: flex;
    flex-flow: row wrap;
}

.direita {
    width: 50%;
}

.esquerda {
    width: 50%;
}

section.esquerda { 
    width: 50%;
    float: left;
    height: 100%;
}

section.direita {
    border-left: 1px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
    padding-left: 1cm;
   }

