@charset "UTF-8";

header{
    height: 20vh;
    background-color: blueviolet;
    font-size: 4em;     
    text-align: center;
}

main{
    display:flex;
    flex-direction: row;
}

section{
    height: 100vh;
    width: 30%;
    background-color: white;
    flex: 1;
    flex-direction: row-reverse;
    font-family: Arial, Helvetica, sans-serif; 
    font-size: 1em;
}

aside{
    height: 150vh;
    background-color: blueviolet;
    width: 21vw;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    background-color: blueviolet;
    text-align: center;
    font-size: 25px;color: white;
}

p{
    text-align: juify;
}